<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FloodLevels</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FloodLevels.styles.css" asp-append-version="true" />
    <style>
        .sidebar {
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #343a40;
            padding-top: 20px;
            box-shadow: none;
            border: none;
            margin: 0;
            padding: 0;
        }

            .sidebar a {
                padding: 15px 20px;
                text-align: left;
                display: block;
                color: white;
                text-decoration: none;
                background: none;
                font-size: 1.5rem;
                line-height: 1.5;
            }

                .sidebar a:hover {
                    background-color: #495057;
                }

        .main-content {
            margin-left: 270px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="sidebar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/StationPages/Overview">Overview</a>
                <a class="navbar-brand" asp-area="" asp-page="/StationPages/ValuesOverview">Records</a>
                <a class="navbar-brand" asp-area="" asp-page="/StationPages/Stations">Stations</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="main-content pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
